# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Uu]ser[Ss]ettings/
/[Uu]ser[Ll]ocal[Ss]ettings/

# IDE
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userosscache
*.userprefs

# OS
.DS_Store
Thumbs.db
